route:

  group_by: ['alertname']
  group_wait: 30s
  group_interval: 6h
  repeat_interval: 12h
  receiver: 'discord'

receivers:

  - name: 'discord'
    webhook_configs:
      - url: 'http://discord_bot:5001/'
        send_resolved: false
