---
version: "3"

services:
  aave_bot:
    build:
      context: .
    command: "main.py"
    environment:
      NODE_ENDPOINT:
      FLIPSIDE_ENDPOINT:
      EXPORTER_PORT:
      PARSE_INTERVAL:
      LOG_FORMAT:
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    restart: unless-stopped

  alertmanager:
    image: prom/alertmanager
    volumes:
      - ./alertmanager:/etc/alertmanager
    restart: unless-stopped

  discord_bot:
    image: chtotonetak/alertmanager-discord:1.1.0
    environment:
      DISCORD_WEBHOOK:
    restart: unless-stopped

volumes:
  prometheus-data:
